@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Aero Light (Zinc 50) */
  --foreground-rgb: 24, 24, 27;
  /* Zinc 900 */
  --background-start-rgb: 250, 250, 250;
  /* Zinc 50 */
  --background-end-rgb: 244, 244, 245;
  /* Zinc 100 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: var(--font-inter), sans-serif;
}

/* Scrollbar for Aero Light */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  /* Zinc 200 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
  /* Zinc 300 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}