[project]
name = "cli"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "nats-py>=2.12.0",
    "protobuf>=4.25.0",
    "rich>=14.3.2",
    "typer>=0.21.1",
]
