apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Chart.Name }}-data
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.dataVolume.storageClassName }}
  resources:
    requests:
      storage: {{ .Values.dataVolume.size }}
