@import "tailwindcss";

:root {
  --bg-primary: #1B1D20;
  /* Charcoal Graphite */
  --bg-panel: #26292E;
  /* Iron Slate */
  --border-light: #3A3D42;
  /* Soft Divider Grey */

  --text-primary: #E7E7E5;
  /* Off-White */
  --text-secondary: #B9BBB8;
  /* Fog Grey */
  --text-muted: #7C8085;
  /* Slate Muted */

  --accent-success: #6FF58C;
  /* Lime Signal Green */
  --accent-link: #5AA8FF;
  /* Ocean Blue */
  --accent-warn: #ffcc66;
  /* Warm Compile Yellow */

  --btn-primary-bg: #FFFFFF;
  /* Pure White */
  --btn-secondary-bg: #2E3035;
  /* Steel Dark */
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}