image:
  repository: ghcr.io/mycelis/core
  pullPolicy: IfNotPresent
  tag: "latest"

serviceAccount:
  create: true
  name: "mycelis-core"

podAnnotations: {}

service:
  type: ClusterIP
  port: 8080

resources: 
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

nats:
  url: "nats://nats.default.svc.cluster.local:4222"
